@tailwind base;
@tailwind components;
@tailwind utilities;

/* Angular Material typography and theme imports */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Optional: Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* gray-400 */
  border-radius: 10px;
}
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
